<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>
    <div class="relative main w-full flex tracking-tighter">
        <h1 class="absolute top-[20px] left-[30px] text-[#3c82f8] text-[28px] font-semibold">Scatch</h1>


    </div>

</body>

</html>